/* universal styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* logo header section */
.logo {
  background-color: black;
  color: white;
  padding: 0.66rem 0.5rem;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
/* main banner section */

 .main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.headline {
  width: 20rem;
  background-color: black;
  color: white;
  position: relative;
  top: 9rem;
  padding: 2em 3em;
  font-weight: bold;
  font-size: 1rem;
}

.headline h1{
  font-size: 2rem;
  margin: 0.25rem 0;
}

/* navigation section */
nav {
  background-color: firebrick;
  color: white;
}


nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
}
/*products section */
.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
/*  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
  width: 30%;
}

.product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product img {
  max-width: 8rem;
}

.products span {
  background-color: black;
  color: white;
  display: block;
  padding: 0.5rem;
  text-align: center;
  
  }

/* location and hours section*/
.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.info {
  width: 35%;
}

.info .title {
  background-color: black;
  color: white;
  display: block;
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 0.5rem;
}

/*footer section */
footer {
  background-color: black;
}

footer .container {
  height: 5rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;

}

/* media queries */
@media only screen and (max-width: 1024px) {
  .headline {
    font-weight: normal;
    color: red;
  }
}
